In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum as _sum

# Step 1: Initialize a Spark session
spark = SparkSession.builder.appName("PySpark State-wise Salary Analysis").getOrCreate()

# Step 2: Define the data and schema
data = [
    ("James", "Sales", "NY", 90000, 34, 10000),
    ("Michael", "Sales", "NV", 86000, 56, 20000),
    ("Robert", "Sales", "CA", 81000, 30, 23000),
    ("Maria", "Finance", "CA", 90000, 24, 23000),
    ("Raman", "Finance", "DE", 99000, 40, 24000),
    ("Scott", "Finance", "NY", 83000, 36, 19000),
    ("Jen", "Finance", "NY", 79000, 53, 15000),
    ("Jeff", "Marketing", "NV", 80000, 25, 18000),
    ("Kumar", "Marketing", "NJ", 91000, 50, 21000)
]
schema = ["employee_name", "department", "state", "salary", "age", "bonus"]

# Step 3: Create an RDD from the data
rdd = spark.sparkContext.parallelize(data)

# Step 4: Create a PySpark DataFrame from the RDD
df = rdd.toDF(schema)

# Display the original DataFrame
df.show()

# Step 5: Group by state and calculate total salaries
state_salary_df = df.groupBy("state").agg(_sum("salary").alias("total_salary"))

# Display state-wise total salaries
print("State-wise total salaries:")
state_salary_df.show()

# Step 6: Filter state-wise salaries greater than 1 lakh
state_salary_above_1lakh = state_salary_df.filter(col("total_salary") > 100000)

# Display state-wise salaries greater than 1 lakh
print("State-wise salaries greater than 1 lakh:")
state_salary_above_1lakh.show()

# Step 7: Sort state-wise salaries in descending order
state_salary_desc = state_salary_df.orderBy(col("total_salary").desc())

# Display state-wise salaries in descending order
print("State-wise salaries in descending order:")
state_salary_desc.show()

# Stop the Spark session
spark.stop()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NV| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   DE| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   NV| 80000| 25|18000|
|        Kumar| Marketing|   NJ| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

State-wise total salaries:
+-----+------------+
|state|total_salary|
+-----+------------+
|   NV|      166000|
|   CA|      171000|
|   NY|      252000|
|   NJ|       91000|
|   DE|       99000|
+-----+------------+

State-wise salaries greater than 1 lakh:
+-----+------------+
|state|total_salary|
+-----+------------+
|   NV|      166000|
|   CA|      171000|
|   NY|      252000|
+-----+------------+

State-wise salaries in descending order:
+-----+------------+
|state|total_salary|
+-----+------------+
|   NY|      252000|
|   CA|      171000|
|   NV|      166000|
|   DE|       99000|
|   NJ|       91000|
+-----+------------+