In [ ]:
"""Given the following tables, Perform Full outer join on dataframe.

Age	Name
 2 	Alice 
5	Bob

Height	Name
80	Tom
85	Bob

Age	Name
 2 	Alice 
5	Bob

Age	Height	Name 
10	80	Alice
5	None	Bob
None	None	Tom
None	None	None

a.	Write query and Perform Join of df1 and df2 to find the height
b.	Write query and Perform outer join of df1 and df2 to find the heights 
c.	Write query and Perform outer join of df1 and df2 to find the age
"""

In [1]:
import pandas as pd

# DataFrame 1 (df1): Age and Name
data1 = {'Age': [2, 5], 'Name': ['Alice', 'Bob']}
df1 = pd.DataFrame(data1)

# DataFrame 2 (df2): Height and Name
data2 = {'Height': [80, 85], 'Name': ['Tom', 'Bob']}
df2 = pd.DataFrame(data2)

# DataFrame 3 (df3): Age and Name
data3 = {'Age': [2, 5], 'Name': ['Alice', 'Bob']}
df3 = pd.DataFrame(data3)

# DataFrame 4 (df4): Age, Height, and Name
data4 = {'Age': [10, 5, None, None], 'Height': [80, None, None, None], 'Name': ['Alice', 'Bob', 'Tom', None]}
df4 = pd.DataFrame(data4)

# Displaying both DataFrames
print("DataFrame df1:")
print(df1)
print("*******************")
print("DataFrame df2:")
print(df2)
print("*******************")
print("DataFrame df3:")
print(df3)
print("*******************")
print("\nDataFrame df4:")
print(df4)

DataFrame df1:
   Age   Name
0    2  Alice
1    5    Bob
*******************
DataFrame df2:
   Height Name
0      80  Tom
1      85  Bob
*******************
DataFrame df3:
   Age   Name
0    2  Alice
1    5    Bob
*******************

DataFrame df4:
    Age  Height   Name
0  10.0    80.0  Alice
1   5.0     NaN    Bob
2   NaN     NaN    Tom
3   NaN     NaN   None

In [3]:
# Inner join on 'Name' column to find heights
result_a = pd.merge(df1, df2, on='Name', how='inner')
print(result_a)

   Age Name  Height
0    5  Bob      85

In [8]:
# Full outer join on 'Name' column
result_b = pd.merge(df1, df2, on='Name', how='outer')
print(result_b)

   Age   Name  Height
0  2.0  Alice     NaN
1  5.0    Bob    85.0
2  NaN    Tom    80.0

In [9]:
# Full outer join on 'Name' column to find ages
result_c = pd.merge(df1, df2, on='Name', how='outer')
print(result_c[['Age', 'Name']])

   Age   Name
0  2.0  Alice
1  5.0    Bob
2  NaN    Tom