In [ ]:
"""2) Given two RDD AND perform all joint operation 
"""

In [1]:
# To find out path where pyspark installed
import findspark
findspark.init()

In [2]:
# Create SparkSession and sparkcontext
from pyspark.sql import SparkSession
spark = SparkSession.builder\
                    .master("local")\
                    .appName('Firstprogram')\
                    .getOrCreate()
sc=spark.sparkContext

In [3]:
# Create Context and Session for Spark from pyspark.context import SparkContext from pyspark.sql.session import SparkSession sc=SparkContext.getOrCreate() spark=SparkSession(sc)
#Using parallelize method, create RDD
rdd1=sc.parallelize([("spark", 1),("hadoop", 4)])
rdd2=sc.parallelize([("spark", 2),("hadoop", 5)])

#Perforn Join Operation on the created RDDs
rdd=sorted(rdd1.join(rdd2).collect())
#Print the Result
print(rdd)

[('hadoop', (4, 5)), ('spark', (1, 2))]

In [4]:
rdd3=sorted(rdd1.fullOuterJoin(rdd2).collect())
print(rdd3)

[('hadoop', (4, 5)), ('spark', (1, 2))]

In [5]:
print(sorted(rdd1.leftOuterJoin(rdd2).collect()))

[('hadoop', (4, 5)), ('spark', (1, 2))]

In [6]:
rdd1 = sc.parallelize([("a", 1), ("b", 4)])
rdd2 = sc.parallelize([("a", 2), ("a", 3)])
sorted(rdd1.join(rdd2).collect())

[('a', (1, 2)), ('a', (1, 3))]

In [7]:
rdd1 = sc.parallelize([("a", 1), ("b", 4)])
rdd2 = sc.parallelize([("a", 2)])
sorted(rdd1.leftOuterJoin(rdd2).collect())

[('a', (1, 2)), ('b', (4, None))]

In [8]:
rdd1 = sc.parallelize([("a", 1), ("b", 4)])
rdd2 = sc.parallelize([("a", 2)])
sorted(rdd2.rightOuterJoin(rdd1).collect())

[('a', (2, 1)), ('b', (None, 4))]

In [18]:
rdd1 = sc.parallelize([("a", 1), ("b", 4)])
rdd2 = sc.parallelize([("a", 2), ("c", 8)])
sorted(rdd1.fullOuterJoin(rdd2).collect())

[('a', (1, 2)), ('b', (4, None)), ('c', (None, 8))]

In [5]:
from pyspark.sql import Row
from pyspark.sql.functions import desc
df = spark.createDataFrame([(2, "Alice"), (5, "Bob")]).toDF("age", "name")
df2 = spark.createDataFrame([Row(height=80, name="Tom"), Row(height=85, name="Bob")])
df3 = spark.createDataFrame([Row(age=2, name="Alice"), Row(age=5, name="Bob")])
df4 = spark.createDataFrame([
    Row(age=10, height=80, name="Alice"),
    Row(age=5, height=None, name="Bob"),
    Row(age=None, height=None, name="Tom"),
    Row(age=None, height=None, name=None),
])

In [6]:
df.join(df2, 'name').select(df.name, df2.height).show()

+----+------+
|name|height|
+----+------+
| Bob|    85|
+----+------+

In [7]:
df.join(df2, df.name == df2.name, 'outer').select(
    df.name, df2.height).sort(desc("name")).show()

+-----+------+
| name|height|
+-----+------+
|  Bob|    85|
|Alice|  NULL|
| NULL|    80|
+-----+------+